- const postAuthor = page.author || config.author
- const postCategories = page.categories && page.categories.data ? page.categories.data : []
- const postDateLabel = date(page.date, 'YYYY/MM/DD h:mmA').replace('上午', 'AM').replace('下午', 'PM')
#post-info
  h1.post-title= page.title || _p('no_title')
    if theme.post_edit.enable
      a.post-edit-link(href=theme.post_edit.url + page.source title=_p('post.edit') target="_blank")
        i.fas.fa-pencil-alt

  #post-meta
    if postCategories.length || postAuthor
      .post-meta__line.post-meta__line--identity
        if postCategories.length
          each item, index in postCategories
            a.post-meta__link(href=url_for(item.path))= item.name
            if index < postCategories.length - 1
              span.post-meta__divider /
        if postCategories.length && postAuthor
          span.post-meta__divider /
        if postAuthor
          span.post-meta__author= postAuthor
    .post-meta__line.post-meta__line--date
      time(datetime=date_xml(page.date))= postDateLabel
